<app-nav-bar></app-nav-bar>

<div class="home-services-container">
  <div class="services-header-text">
    <h1>Halo Group Recruitment: Dashboard</h1>
    <p>Add, delete and manage all your recruitment applications and data on one platform!</p>
  </div>
<div class="container-fluid  background">

  <div class="container  text-white text-center ">

          <div class="row justify-content-md-center">
              <div class="col-md-3 m-4 ">
                  <img src="../../assets/img/Add-Post_It-512.png" alt="" style="width: 50%;" srcset="" class="img-fluid">
                  <h6 class="h4 text-secondary mt-3">Add Vacancy</h6>
                  <p class="text-dark"> Add a new position/job to the recruitment portal.</p>
                  <a routerLink="/create-vacancy" class="btn get btn-primary btn-lg " role="button"
        ><strong>Add Vacancy</strong></a>
              </div>
              <div class="col-md-3 m-4">
                  <img src="../../assets/img/replace-pictures-ce13b723850be28a71023505a8269e8b.png " style="width: 50%;" alt="" srcset="" class="img-fluid ">
                  <h6 class="h4 text-secondary mt-3">Update Post</h6>
                  <p class="text-dark">Update or delete a vacancy post from the recruitment portal.</p>
                  <a routerLink="/services/create" class="btn get btn-primary btn-lg " role="button"
        ><strong>Update</strong></a>
              </div>
              <div class="col-md-3 m-4">
                  <img src="../../assets/img/details-icon-3.jpg" alt="" style="width: 50%;" srcset="" class="img-fluid ">
                  <h6 class="h4 text-secondary  mt-3">View Applications</h6>
                  <p class="text-dark ">View all the applications submitted on the portal</p>
                  <a routerLink="/posts" class="btn get btn-primary btn-lg " role="button"
        ><strong>View Applications</strong></a>
              </div>

          </div>
  </div>
